@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto","Serif";
  }
  body{
    background-color: #fff7ea;
  }
}
@layer components{
  div > img{
    border-radius:45% 55% 32% 68% / 58% 38% 62% 42%  ;
  }
}